form {
    background-color: #d8d8d8;
    padding: 1rem 80px;
}

input {
    font-size: 1rem;
    outline: none;
    background-color: #f4f4f4;
    border: 2px solid #505050;
    border-radius: 2px;
    margin-left: 4px;
}

input[type=button] {
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    background-color: #606060;
    border: 2px solid #505050;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
}

input[type=button]:hover {
    background-color: #808080;
}

input[type=button].selectedOperator {
    background-color: whitesmoke;
    color: #404040;
    border: 2px solid #404040;
}

input[type=button].selectedOperator:hover {
    background-color: white;
    color: #202020;
    border: 2px solid #202020;
}

input[type=submit] {
    font-size: 1rem;
    color: whitesmoke;
    background-color: rgb(48, 157, 252);
    border: 2px solid rgb(42, 126, 201);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.2rem 20px;
}

input[type=submit]:hover {
    background-color: rgb(97, 180, 253);
}